DB_HOST=IP_ADDRESS
DB_PORT=PORT_NUMBER
DB_NAME=DB_NAME
DB_USER=app_user # you can change this but this is by default from the database
DB_PASSWORD=DB_PSWD # change this, this is DB_USER's password

SECRET_KEY=SECRET_KEY
